body {
	
	margin: 0;
	padding: 0;
	
}

header {
position:fixed;	
background-color:#808080;
width:100%;	
height: 50px;
}

h1 {
	
	float:left;
	
}

.ui-content {
padding:0;

}

#container {
width:100%;
height:100%;
overflow: visible;
}

#imgHolder {
text-align: center;
padding-top: 55px;
overflow: auto;
}

#imgNav {
width:100%;	
	
}

#navTop {
position:fixed;
top: 50px;	
left: 50%;	
	
}

#navLeft {
position:fixed;
top: 50%;	
left: 0;
	
}

#navBottom {
position:fixed;
top: 90%;	
left: 50%;
}

#navRight {
position:fixed;
top: 50%;	
left: 90%;	
}

/* grid css*/

#imgGridHolder {
	
	position: absolute;
	
}

.cell {
font-size:30px;	
height:100%;
width:100%;	
	
}

// transition
/* using the JQM slideup and slidedown for now
.slideUp.in {
			    -webkit-transform: translateY(0);
			    -webkit-animation-name: slideinfromtop;
			}
			
@-webkit-keyframes slideinfromtop {
			    from { -webkit-transform: translateY(100%); }
			    to { -webkit-transform: translateY(0); }
			}			

.slideUp.out {
			    -webkit-transform: translateY(-100%);
			    -webkit-animation-name: slideoutfrombotton;
			}
			
@-webkit-keyframes slideoutfrombotton {
			    from { -webkit-transform: translateY(0); }
			    to { -webkit-transform: translateY(-100%); }
			}
				
				
				
.slideDown.in {
				    -webkit-transform: translateY(0);
				    -webkit-animation-name: slideinfrombottom;
				}
				
@-webkit-keyframes slideinfrombottom {
				    from { -webkit-transform: translateY(-100%); }
				    to { -webkit-transform: translateY(0); }
				}				

.slideDown.out {
				    -webkit-transform: translateY(100%);
				    -webkit-animation-name: slideouttotop;
				}


@-webkit-keyframes slideouttotop {
				    from { -webkit-transform: translateY(0); }
				    to { -webkit-transform: translateY(100%); }
				}				
*/
.slideLeft.in {
			    -webkit-transform: translateX(0);
			    -webkit-animation-name: slideinfromleft;
			}
			

@-webkit-keyframes slideinfromleft {
			    from { -webkit-transform: translateX(100%); }
			    to { -webkit-transform: translateX(0); }
			}			

.slideLeft.out {
			    -webkit-transform: translateX(-100%);
			    -webkit-animation-name: slideoutfromleft;
			}

			@-webkit-keyframes slideoutfromleft {
			    from { -webkit-transform: translateX(0); }
			    to { -webkit-transform: translateX(-100%); }
			}
				
				
				
.slideRight.in {
				    -webkit-transform: translateX(0);
				    -webkit-animation-name: slideinfromright;
				}

@-webkit-keyframes slideinfromright {
				    from { -webkit-transform: translateX(-100%); }
				    to { -webkit-transform: translateX(0); }
				}				

.slideRight.out {
				    -webkit-transform: translateX(100%);
				    -webkit-animation-name: slideouttoright;
				}

@-webkit-keyframes slideouttoright {
				    from { -webkit-transform: translateX(0); }
				    to { -webkit-transform: translateX(100%); }
				}				
