body {
	
	margin: 0;
	padding: 0;
	
}

header {
position:fixed;	
background-color:#808080;
width:100%;	
height: 50px;
}

h1 {
	
	float:left;
	
}

a {
	
	z-index: 10;
	
}

.ui-content {
padding:0;
width:100%;
height:100%;
display:table;
}


.ui-page {
padding:0;
height:100%;
}

img{
position:relative;
width:100%;
z-index: 0;
}

#container {
width:100%;
height:100%;
overflow: visible;
}

#txtView {
	
position:absolute;
z-index: 8;	
	
}

#imContainer {
display:table-cell;	
vertical-align:middle;
width:100%;
}

#imgNav {
width:100%;	
	
}

#navTop {
position:fixed;
top: 50px;	
left: 50%;	
//display:none;	
}

#navLeft {
position:fixed;
top: 50%;	
left: 0;
//display:none;		
}

#navBottom {
position:fixed;
top: 90%;	
left: 50%;
//display:none;	
}

#navRight {
position:fixed;
top: 50%;	
left: 90%;
//display:none;		
}

.slideLeft.in {
				    -webkit-transform: translateX(0);
				    -webkit-animation-name: slideinfromleft;
				}

@-webkit-keyframes slideinfromleft {
				    from { -webkit-transform: translateX(100%); }
				    to { -webkit-transform: translateX(0); }
				}				
.slideLeft.out {
				    -webkit-transform: translateX(-100%);
				    -webkit-animation-name: slideouttoleft;
				}
@-webkit-keyframes slideouttoleft {
				    from { -webkit-transform: translateX(0); }
				    to { -webkit-transform: translateX(-100%); }
				}	

.slideRight.in {
				    -webkit-transform: translateX(0);
				    -webkit-animation-name: slideinfromright;
				}

@-webkit-keyframes slideinfromright {
				    from { -webkit-transform: translateX(-100%); }
				    to { -webkit-transform: translateX(0); }
				}				
.slideRight.out {
				    -webkit-transform: translateX(100%);
				    -webkit-animation-name: slideouttoright;
				}
@-webkit-keyframes slideouttoright {
				    from { -webkit-transform: translateX(0); }
				    to { -webkit-transform: translateX(100%); }
				}				
