<div data-role="page" id="<%= cell %>" depth="<%= depth %>">
	<div data-role="content">
       <div id="txtView" style="position: absolute"><%= cell %></div>
       <a href="#/page/<%= topNav %>" id="navTop">navTop</a>
       <a href="#/page/<%= rightNav %>" data-direction="reverse" id="navRight">navRight</a>
       <a href="#/page/<%= bottomNav %>" data-direction="reverse" id="navBottom">navBottom</a>
       <a href="#/page/<%= leftNav %>" id="navLeft">navLeft</a>
        <img  src="<%= url %>" width="100%"/>
        
        </div>
</div>
		
