<div data-role="page" id="<%= cell %>" depth="<%= depth %>">
	<div data-role="content">
       <div id="txtView"><%= cell %></div>
       <a href="#nav/slideDown/<%= topNav %>" id="navTop">navTop</a>
       <a href="#nav/slideLeft/<%= rightNav %>" id="navRight">navRight</a>
       <a href="#nav/slideUp/<%= bottomNav %>" id="navBottom">navBottom</a>
       <a href="#nav/slideRight/<%= leftNav %>" id="navLeft">navLeft</a>
        <div id="imContainer"><img  src="img/ajax-loader.png"/></div>
        
        </div>
</div>
		
