<div data-role="page" id="<%= cell %>" depth="<%= depth %>">
	<div data-role="content">
       <div id="txtView" style="position: absolute"><%= cell %></div>
       <a href="#nav/slideUp/<%= topNav %>" id="navTop">navTop</a>
       <a href="#nav/slideRight/<%= rightNav %>" id="navRight">navRight</a>
       <a href="#nav/slideDown/<%= bottomNav %>" id="navBottom">navBottom</a>
       <a href="#nav/slideLeft/<%= leftNav %>" id="navLeft">navLeft</a>
        <img  src="<%= url %>" width="100%"/>
        
        </div>
</div>
		
